.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .1%;
  text-align: left;
  padding-left:10px;
  padding-right:100px;
}

.container{
	margin-left:7px;
}

.row.header{
	margin-left:2px;
	padding-left:0px
	padding-right:20px;
	opacity:.9;

}

.header{
	padding-top: 0px;
	margin-top:-25px;
}

#subheading{
	font-size:20px;
	margin-top:8px;
	margin-bottom:0px;
}

.hamburger{
	background-color: #292929 !important;
}

#navText {
	color: black;

}
.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-brand{
	color: #2e2e2e;
	padding-left: 50px;
}

.navbar-toggle{
	background-color: white;
}



.navbar-inverse{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	font-size: 24px;
	background:none;
	border-style:none;
	

}

.navbar.navbar-inverse li a {
    text-shadow:none;
    color:black;
}

.navbar-brand {
	text-shadow:none;
	color:black;
    
}

.jumbotron-container{
	font-size:24px;
}

ul.nav a:hover { color: #FF6A6A!important; }

.nav a:hover { color: #FF6A6A!important; }


.navbar-collapse li a{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	color:none;
}


.navbar-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;

}

.navbar-nav{
	font-family: "Optima", "Tw Cen MT", sans-serif;
}


.jumbotron{
	padding-top: 0px;
	padding-bottom: 5px;
}

.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-toggle{
	background-color: white;
}

.jumbotron-container{
	opacity:0;
	padding-top:0px;
	height:10px;

}

.description{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;
	left: 17px;

}






