.portfolio-thumbnail-woodenships{
	border: 0 none;
    box-shadow: none;
    margin-top:-12px;
    margin-bottom:35px;
    margin-left:-5px;
   


}

.portfolio-thumbnail-woodenships-img{
	border: solid;
	border-color:black;
	border-width:1.5px;
    box-shadow: none;

    

}

.navbar-header{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.navbar-nav{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logo{
	background-color: white;
	border-width: 10px;
	border-style: solid;
	border-color: white;
}


.main{
	background-color: white;
	border-width: 0px;
	border-style: solid;
	border-color: black;
}
.jumbotron{
	padding-top: 15px;
	padding-bottom: 10px;
}

.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-toggle{
	background-color: white;
}

.title{
	padding-top: 70px;
}
.header{
	padding-top: 10px;
}


.jumbotron-container{
	opacity:0;
	padding-top:0px;
	height:10px;

}

.text {
	display:inline-block;
	padding-top:10px;
	text-align:left
	font-size:12px;
	position:relative;
	opacity:.8;
	max-width:400px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    opacity:.9;
}

.description{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	opacity:.9;

}

.page-header{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	opacity:.9;

}

.row-header{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	opacity:.9;

}

#subheading{
	font-size:20px;
	margin-top:8px;
	margin-bottom:0px;
}
