

.container{
	margin-left:17px;
}

.row.header{
	margin-left:2px;
	padding-left:0px
	padding-right:20px;

}

.header{
	padding-top: 0px;
	margin-top:-25px;
}


.hamburger{
	background-color: #292929 !important;
}

#navText {
	color: black;

}
.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-brand{
	color: #2e2e2e;
	padding-left: 50px;
}

.navbar-toggle{
	background-color: white;
}



.navbar-inverse{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	font-size: 24px;
	background:none;
	border-style:none;
	

}

.navbar.navbar-inverse li a {
    text-shadow:none;
    color:black;
}

.navbar-brand {
	text-shadow:none;
	color:black;
    
}

ul.nav a:hover { color: #FF6A6A!important; }

.nav a:hover { color: #FF6A6A!important; }


.navbar-collapse li a{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	color:none;
	

}

.portfolio-thumbnail-crimeByTime{
	border: 0 none;
    box-shadow: none;
    padding-top:10px;
   	margin-left:-15px;
    float:left;

    

}

.portfolio-thumbnail-crimeByTime-img{
	border-style:solid;
	border-color:black;
	border-width:1.5px;
	border-radius:0;
    
    

}

.portfolio-thumbnail-crimeByTime-img{

	
}

.navbar-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;

}

.navbar-nav{
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.logo{
	background-color: white;
	border-width: 10px;
	border-style: solid;
	border-color: white;
}


.main{
	background-color: white;
	border-width: 0px;
	border-style: solid;
	border-color: black;
}
.jumbotron{
	padding-top: 0px;
	padding-bottom: 5px;
}

.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-toggle{
	background-color: white;
}

.title{
	padding-top: 70px;
}



.jumbotron-container{
	opacity:0;
	padding-top:0px;
	height:10px;

}

.text {
	display:inline-block;
	padding-top:10px;
	text-align:left
	font-size:12px;
	position:relative;
	opacity:.8;
	max-width:400px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
    font-size: 14px;
    opacity:.9;
}

.description{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;
	left: -15px;

}

.page-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;

}

.row-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;

}

#subheading{
	font-size:20px;
	margin-top:8px;
	margin-bottom:0px;
}

