
.row {
  
}
.header{
	padding-top: 0px;
	margin-top:-25px;
}



.hamburger{
	background-color: #292929 !important;
}

#navText {
	color: black;

}
.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-brand{
	color: #2e2e2e;
	display:flex;
}

.navbar-toggle{
	background-color: white;
}



.navbar-inverse{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	font-size: 24px;
	background:none;
	border-style:none;
	

}

.navbar.navbar-inverse li a {
    text-shadow:none;
    color:black;
}

.navbar-brand {
	text-shadow:none;
	color:black;
    
}

.jumbotron-container{
	font-size:24px;
}

ul.nav a:hover { color: #FF6A6A!important; }

.nav a:hover { color: #FF6A6A!important; }


.navbar-collapse li a{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	color:none;
}


.navbar-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;

}

.navbar-nav{
	font-family: "Optima", "Tw Cen MT", sans-serif;
}


.jumbotron{
	padding-top: 0px;
	padding-bottom: 5px;
}

.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-toggle{
	background-color: white;
}


.portfolio-thumbnail-woodenships{
	border: 0 none;
    box-shadow: none;
    margin-top:-12px;
    margin-bottom:35px;
    margin-left:-5px;
   


}

.portfolio-thumbnail-woodenships-img{
	border: solid;
	border-color:black;
	border-width:1.5px;
    box-shadow: none;

    

}

.portfolio-thumbnail-tech{
	border:solid;
	border-color:black;
	border-width:1px;
    margin-top:-10px;
    margin-bottom:35px;
    margin-left:-20px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	float:left;

}

.portfolio-thumbnail-2017Homicides{
	width:55%;
	height:45%;
	border:solid;
	border-color:black;
	border-width:1px;
    margin-top:-10px;
    margin-bottom:35px;
    margin-left:-20px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	float:left;

}



.logo{
	background-color: white;
	border-width: 10px;
	border-style: solid;
	border-color: white;
}


.main{
	background-color: white;
	border-width: 0px;
	border-style: solid;
	border-color: black;
}
.jumbotron{
	padding-top: 15px;
	padding-bottom: 10px;
}



.title{
	padding-top: 70px;
}



.jumbotron-container{
	opacity:0;
	padding-top:0px;
	height:10px;

}

.text {
	display:inline-block;
	padding-top:10px;
	text-align:left
	position:relative;
	opacity:.8;
	max-width:400px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
    font-size: 14px;
    opacity:.9;
}

.techText {
	display:inline-block;
	margin-top:-20px;
	text-align:left
	position:relative;
	opacity:.8;
	max-width:400px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
    font-size: 14px;
    opacity:.9;
}

.description{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;

}

.page-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;

}

.row-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;

}

#subheading{
	font-size:20px;
	margin-top:8px;
	margin-bottom:0px;
}
