.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .1%;
  text-align: center;
  padding-left:100px;
  padding-right:100px;
}

.hamburger{
	background-color: #292929 !important;
}

#navText {
	color: black;

}
.navbar{
	padding-left:0%;
	padding-top:0px;

}

.navbar-brand{
	color: #2e2e2e;
	padding-left: 50px;
}

.navbar-toggle{
	background-color: white;
}

.navbar.navbar-header {

}
.portfolio-thumbnail{
	
	background-color:black;
	display:inline-block;
	margin-bottom:5px;
	margin-right: 5px;
	margin-top:5px;
	margin-left:5px


	/*sdfsdfdsdfsdf*/
}

.list {
    list-style-type: circle;
}

.text-center{
	background-color:white;
	font-family: "Optima", "Tw Cen MT", sans-serif;

}

.container {


}


.portfolio-content{
	
	
}

.portfolio-thumbnail-img{
	display:inline-block;

}

.portfolio-thumbnail-img2{
	

}

.portfolio-thumbnail-Homicides{
	border-color:black;
	border-width:1px;

}

.navbar-header{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	opacity:.9;


}

.sub-container{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	background-image: url("img/neighborhood3.gif");
	background-color:white;

	
}

.navbar-inverse{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	font-size: 24px;
	background:none;
	border-style:none;
	

}

.navbar.navbar-inverse li a {
    text-shadow:none;
    color:black;
}

.navbar-brand {
	text-shadow:none;
	color:black;
	
	
    
}

ul.nav a:hover { color: #FF6A6A!important; }

.nav a:hover { color: #FF6A6A!important; }


.navbar-collapse li a{
	font-family: "Optima", "Tw Cen MT", sans-serif;
	color:none;
	

}

.collapse.navbar-collapse{
	
}




.jumbotron {
	
	
	font-family: "Optima", "Tw Cen MT", sans-serif;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;
	opacity:1;
	text-shadow: 
	color:white;
}

.jumbotron-footer{
	bottom-padding:20px;
	height:400px;
}

.jumbotron-container{
	font-color:white;
	top-padding: 15px;
	height:400px;
}

.container.text-center {

	width:45%;
	
	
}
#syria_title {
    opacity: 0;
    color:blue;
    visibility:visible;
    background-color: black;
    display: inline-block;

}



#syria_title img:hover {
    opacity: 1;
    color:blue;
    visibility:visible;
    background-color: black;
    display: inline-block;
    visibility:visible;
}





.brightness2 {
    background-color: black;
    display: inline-block;

}




.carousel-caption {
    color:white;
    text-align:center;
    display:inline-block;
    position:absolute;
	margin-bottom:40px;
	opacity:1;


}

.img-responsive.portfolio-thumbnail{
	box-shadow:0 4px 8px 0px;
	margin-left:7%;
	margin-right:7%;
	padding-left:-10px
	padding-right:-10px;
		
}





.portfolio-full{
	width:60%;
	float:right;
	right: 200px;
	
}





.thumbnail {
	max-width: 360px;
	max-height: 360px;
}

.image-overlay {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-75px;
	vertical-align:center;
	padding-top:60px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.portfolio-thumbnail:hover .image-overlay {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-2 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-53px;
	vertical-align:center;
	padding-top:60px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail:hover .image-overlay-2 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-3 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-56px;
	vertical-align:center;
	padding-top:87px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail:hover .image-overlay-3 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-4 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-70px;
	vertical-align:center;
	padding-top:110px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail:hover .image-overlay-4 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-5 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-85px;
	vertical-align:center;
	padding-top:137px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail:hover .image-overlay-5 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-6 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-70px;
	vertical-align:center;
	padding-top:60px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail:hover .image-overlay-6 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-7 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-67px;
	vertical-align:center;
	padding-top:87px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail:hover .image-overlay-7 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}



.image-overlay-8 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-70px;
	vertical-align:center;
	padding-top:110px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.portfolio-thumbnail:hover .image-overlay-8 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-9 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-76px;
	vertical-align:center;
	padding-top:60px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;

}

.image-overlay-21 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-80px;
	vertical-align:center;
	padding-top:110px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.image-overlay-22 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-90px;
	vertical-align:center;
	padding-top:110px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.portfolio-thumbnail:hover .image-overlay-22 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.portfolio-thumbnail:hover .image-overlay-21 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.portfolio-thumbnail:hover .image-overlay-9 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;

}

.image-overlay-10 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-77px;
	vertical-align:center;
	padding-top:114px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.portfolio-thumbnail:hover .image-overlay-10 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-13 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-60px;
	vertical-align:center;
	padding-top:60px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.portfolio-thumbnail:hover .image-overlay-13 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-14 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-58px;
	vertical-align:center;
	padding-top:87px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.portfolio-thumbnail:hover .image-overlay-14 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

.image-overlay-15 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-97px;
	vertical-align:center;
	padding-top:60px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	


}

.portfolio-thumbnail:hover .image-overlay-15 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;

}

.image-overlay-28 {
	position:absolute;
	display:inline-block;
	text-align:left;
	text-indent:-85px;
	vertical-align:center;
	padding-top:137px;
	background: none;
	color: #000;
	font-size:22px;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail:hover .image-overlay-28 {
	display:inline-block;
	text-align:center;
	visibility: visible;
	color:white;
	opacity: 1;
	vertical-align:center;
	text-align:center;
}

/*
.image-overlay2 {
	position: absolute;
	display:inline-grid;
	top: 0px;
	bottom: 0;
	right:15px;
	text-align:center;
	background: blue;
	background-size: 50% auto;
	width:200px;
	color: white
	font-weight: bold;
	

	visibility: hidden;
	opacity: 0;
}



.portfolio-thumbnail:hover .image-overlay2 {
	visibility: visible;
	text-align:right;
	bottom:10px;
	top:-5px;
	opacity: 1;
}
*/
.portfolio-thumbnail{
	
	
}

.row, .portfolio-content{
	margin-bottom: .1%;
	text-align: center;

}

.portfolio-content{
	padding: 10px;


}	
.caption-style-1 .caption{
	cursor: pointer;
	margin-bottom:140px;
	position:absolute;
	opacity:0;
	transition: ease-in-out;
}

.text {
	display:inline-block;
	font-size:14px;
	position:relative;
	opacity:.8;
	max-width:400px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	padding-top:6px;
    
}

.container.text-center {

	font-size:14px;
	
	opacity:.8;
	max-width:400px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	padding-top:6px;

}

@font-face{
	font-family:"";
	src:url("fonts/OPTIMA.TTF");
}


.page-header{
	text-align:left;
	text-indent:0px;
	right:5px;
	font-family: "Optima", "Tw Cen MT", sans-serif;

}

.row-header{
	text-align:left;
	padding-left:30px;
	width:90%;
	right:5px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.Englewood-Past-and-Present{
	height:10px;
	background-color:blue;

}

.portfolio-thumbnail-project{
	background-color: white;
	border-width: 10px;
	border-style: solid;
	border-color: black;
	position:absolute;
	float:right;
	border:none;
	box-shadow:none;
	padding-left:10px;
	margin-bottom:10px;
	width:200%;



}

.portfolio-thumbnail-Englewood-img{
	width:700px;


}


.description{
	text-align:left;
	padding-left:30px;
	font-family: "Optima", "Tw Cen MT", sans-serif;

	
}

.heading{

	left:15px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	
}

.wooden-ships-heading{
	text-align:left;
	font-family: "Optima", "Tw Cen MT", sans-serif;
}

.portfolio-thumbnail-woodenships{
	box-shadow:none;
	
	
	
}

.portfolio-thumbnail-woodenships-img{
	box-shadow:none;
}

.portfolio-thumbnail-tech{
	border-width:2px;
    box-shadow: 2px;
    margin-top:-10px;
    margin-bottom:35px;
    margin-left:-20px;
	font-family: "Optima", "Tw Cen MT", sans-serif;
	float:left;

}

@font-face {
  font-family: 'MyWebFont';
  src: url("fonts/delicious_[123].sit") format('sit'),
   
}

#subheading{
	font-size:20px;
	margin-top:4px;
	margin-bottom:0px;
}

.menu {
	font-family: "Optima", "Tw Cen MT", sans-serif;
}